/*General*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr1: #050f18;
    --clr2: #002b3f;
    --clr3: #364f62;
    --clr4: #ffffff;
    --clr5: #000000;
    --clr6: #1fc3f3;
    --clr7: #2c8aa7;
    --clr8: #eefafd;

    --spacer: 7em 0;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: auto;
    padding: 0;
    font-size: 1.2em;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

ul {
    list-style: none;
}

a {
    color: var(--clr4);
    text-decoration: underline;
}

a:hover {
    color: var(--clr6);
}

a:active {
    color: var(--clr7);
}

#info, #reg, #challenge, #partners, #kontakt {
    scroll-margin-top: 20px;
}

/*Header*/

#logo {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--clr3);
}

#logo img {
    width: 4.5em;
    padding: .7em;
}

#nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: .5em .2em;
    text-transform: uppercase;
    background-color: var(--clr2);
}

#nav li {
    margin: 10px;
    font-size: 1em;
    font-weight: 550;
}

#nav a {
    text-decoration: none;
} 

/*Hackathon*/

#hackathon {
    width: 100vw;
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--clr4);
    background-color: var(--clr1);
}

#hackathon h1 {
    margin-bottom: .5em;
}

#hackathon p {
    margin: 0 1em 0 1em;
}

/*Info*/

#info {
    width: 100vw;
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: var(--clr5);
    background-color: var(--clr4);
}

#info h1 {
    margin-bottom: 1em;
}

#info div {
    padding: 1em 1em;
}

/*Reg*/

#reg {
    width: 100vw;
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr8);
}

#reg a {
    margin: 1em 0 1em 0;
    padding: .5em 1.3em;
    border-radius: 1.1em;
    text-decoration: none;
    background-color: var(--clr6);
}

#reg a:hover {
    color: var(--clr4);
    background-color: var(--clr7);
}

/*Challenge*/

#challenge {
    width: 100vw;
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr4);
    background-color: var(--clr1);
}

#challenge h1 {
    margin-bottom: 1em;
}

#challenge p {
    padding: .5em 1.3em;
    line-height: 1.4em;
    width: 50vw;
}

/*Partners*/

#main-partners, #other-partners {
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

#main-partners a:hover, #other-partners a:hover {
    text-decoration: none;
}

#main-partners h1 {
    margin-bottom: 1em;
}

#main-partners img, #other-partners img {
    overflow: hidden;
    object-fit: contain;
    background-size: cover;
    background-position: center;
}

#main-partners img {
    width: 450px;
    padding: .3em 2em .3em 2em;
}

#other-partners img {
    width: 150px;
    padding: .3em 1em .3em 1em;
}

/*kontakt*/

#kontakt {
    width: 100vw;
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr5);
    background-color: var(--clr8);
}

#kontakt a {
    color: var(--clr6);
}

#kontakt a:hover {
    color: var(--clr7);
}

#kontakt h1 {
    margin-bottom: 1em;
}

.kontakt {
    margin: 1em;
    padding: .5em;
    width: 100%;
    border-style: solid;
    border-color: var(--clr3);
    border-radius: 1.1em;
}

/*Footer*/

footer {
    width: 100vw;
    text-align: center;
    padding: 1em 0;
    color: var(--clr3);
    background-color: var(--clr1);
}

@media (max-width: 945px) {
    #challenge p {
        width: 90vw;
    }
    #nav li {
        font-size: .8em;
    }
}

@media (max-width: 590px) {
    #main-partners img {
        width: 350px;
    }
    body {
        font-size: .9em;
    }
}

@media (max-width: 450px) {
    #nav li {
        font-size: .7em;
    }
}