@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

:root {
    --blue: #12263e;
    --light-blue: #374f63;
    --green: #50ae7c;
    --light-green: #8ddfb3;
    --white: #ffffff;
    --hover-white: #ffffff2c;
    --yellow: #fbe16d;
}

body {
    font-family: 'Reem Kufi Ink', sans-serif;
    margin: auto;
    font-size: 1em;
    color: var(--white);
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    overflow-y: scroll;
}

::selection {
    color: var(--blue);
    background-color: var(--yellow);
}

.color-1 {
    background-color: var(--green);
    color: var(--blue);
}

.color-2 {
    background-color: var(--blue);
    color: var(--green)
}

.color-3 {
    background-color: var(--blue);
    color: var(--yellow);
}

.color-2 a {
    color: var(--light-green);
}

a {
    color: var(--light-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--yellow);
}

.nav {
    padding: 3em;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.nav-content-list {
    padding: 0;
    margin: 0;
}

.nav-heading {
    font-size: 1.7em;
    text-align: left;
}

.nav-content {
    text-align: right;
}

.nav-content-link {
    text-align: center;
    text-decoration: none;
}

.nav-content-item {
    list-style-type: none;
    display: inline;
    padding-left: 1em;
    padding-right: .7em;
    
}

.foot-nav {
    padding: 3em;
}

.foot-nav .nav-content {
    text-align: center;
}


.header {
    padding: 1.5em;
}

.header-header {
    font-size: 4em;
    margin-top: auto;
    margin-bottom: auto;
}

.catchphrase {
    padding: 1.15em;
    font-size: 1.6em;
}

.grid {
    display: grid;
    grid-template-columns: 4fr 5fr;
}

.container {
    padding: 1.5em;
}

.container-heading {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.container-content {
    margin: 2em;
}

#kontakt {
    grid-template-columns: 2fr 3fr;
}

.contacts {
    display: flex;
    justify-content: flex-end;
}

.contacts-item {
    list-style-type: none;
    display: inline-block;
    margin: .5em;
    padding: .4em;
    border: solid var(--light-green) 4px;
    border-radius: 1.3em;
}

.contact-name {
    font-size: 1.1em;
}

.contact-about-item {
    list-style-type: none;
}

.contact-about-list {
    padding: 0;
    margin: 0;
}

p {
    letter-spacing: 0.02em;
    line-height: 1.3;
    word-spacing: 0.05em;
}

.footer .nav-content p {
    color: var(--light-blue);
}

hr {
    background-color: var(--yellow);
    height: 2px;
    border: none;
    padding: 0;
    margin: 0;
}

h2, h3, h4 {
    color: var(--yellow);
}

#registrace .container-heading {
    display: block;
    width: 23em;
    margin: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid var(--light-blue) 4px;
    border-radius: 1.3em;
}

#registrace .container-heading:hover {
    background-color: var(--hover-white);
}

#registrace a:hover {
    text-decoration: none;
}

.main-partners-list, .partners-list {
    padding: 0;
    margin: 0;
    padding-top: 3em;
    padding-bottom: 3em;
}

.main-partners-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.partners-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-partners-item, .partners-item {
    list-style-type: none;
    display: block;
    margin: auto;
}

.main-partner-logo img {
    width: 15em;
    margin: 1em;
}

.partner-logo img {
    width: 6em;
    margin: .8em;
}

.main-partner-logo img, .partner-logo img {
    filter: grayscale(100%);
}

.main-partner-logo img:hover, .partner-logo img:hover {
    filter: grayscale(0%)
}

.main-partner-logo:active, .partner-logo:active {
    filter: invert(70%);
}

.header-logo img {
    width: 12em;
}

.header-logo {
    text-align: right;
}

@media (max-width: 750px) {
    .nav-content-item {
        display: list-item;
        text-align: right;
    }
    .nav, .foot-nav {
        grid-template-columns: 1fr 1fr;
    }
    ul {
        list-style-type: none;
    }
    .main-partners-list {
        display: list-item;
    }
    .partners-list {
        grid-template-columns: 1fr 1fr;
    }
    #astropi-challenge {
        display: block;
    }
}

@media (max-width: 690px) {
    .header-logo img {
        width: 8em;
    }
}

@media (max-width: 490px) {
    .partners-list {
        display: list-item;
    }
    .main-partner-logo img {
        width: 9em;
    }
    .partner-logo img {
        width: 4em;
    }
    #registrace .container-heading {
        width: 15em;
    }
    .header {
        font-size: .6em;
    }
}