* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* BASE ELEMENTS */

a {
    color: inherit;
    text-decoration: underline;
}
a:hover {
    color: var(--light-blue1);
}

h1 {
    font-size: var(--h1-size);
    font-weight: bold;
    margin-bottom: .7em;
}
h2 {
    font-size: var(--h2-size);
    font-weight: bold;
    margin-bottom: .7em;
}
h3 {
    font-size: var(--h3-size);
    font-weight: bold;
    margin-bottom: .7em;
}
h5 {
    font-size: var(--font-size);
    color: var(--light-blue2);
    font-weight: bold;
}

.site-logo {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--h2-size);
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    white-space: nowrap;
}
.site-logo img {
    width: 60px;
}
.site-logo:hover {
    color: var(--white);
}

.primary-button, .secondary-button {
    padding: .5em .7em;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: var(--shadow);
}
.primary-button {
    background-color: var(--light-blue1);
    color: var(--white);
}
.primary-button:hover {
    color: var(--whtie);
    background-color: var(--light-blue2);
}
.section-content .primary-button:hover {
    color: var(--white);
}
.secondary-button {
    margin-top: 2em;
    border: 2px solid var(--light-blue2);
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--light-blue2);
    background-color: var(--white);
}
.secondary-button:hover {
    cursor: pointer;
    background-color: var(--light-blue3);
    color: var(--light-blue2);
}
.secondary-button.selected {
    background-color: var(--light-blue2);
    color: var(--white);
    font-weight: bold;
}

.dropdown-link {
    color: var(--white);
    cursor: pointer;
}
.dropdown-link:hover {
    color: var(--light-blue1);
}
footer .dropdown-link {
    text-decoration: underline;
}
.link-dropdown {
    display: none;
    flex-direction: column;
    background-color: #000000b9;
    position: absolute;
    padding: .3em .7em .7em .7em;
}
footer .link-dropdown {
    background-color: var(--black);
}
.dropdown-item {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}

.mega-text {
    font-weight: bold;
    font-size: var(--mega-size);
}

.section-content img {
    width: 500px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.2em;
    width: 160px;
}
.contact img {
    width: 100%;
    border-radius: 9999em;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.contact-info-links {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.contact p {
    padding-bottom: 0 !important;
}

.fa-envelope, .fa-phone, .fa-globe {
    color: var(--light-blue2);
    margin-right: .6em;
}

/* LAYOUT */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding: 8em 0;
}
.header-content {
    font-size: var(--mega-size);
    font-weight: bold;
    width: 90%;
    max-width: 1200px;
}

section {
    width: 100%;
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
}
section:first-of-type, section:nth-of-type(2n+1) {
    background-color: var(--white);
}
section:nth-of-type(2n){
    background-color: var(--light-grey);
}
.section-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.section-row {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.section-content-left {
    width: 40%;
}

.scrolling-row {
    gap: 4em;
    align-items: flex-start;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: 100;
}
.scrolling-row::-webkit-scrollbar {
    background-color: var(--light-blue3);
    border-radius: 4px;
    height: 10px;
    cursor: pointer;
}
.scrolling-row::-webkit-scrollbar-thumb {
    background-color: var(--light-blue2);
    border-radius: 100em;
    cursor: pointer;
}
.scrolling-row::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-blue3);
}

/* NAV */

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--gradient-bottom);
    color: var(--white);
    padding: 1.4em 0;
}
.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    width: 90%;
    max-width: 1200px;
    white-space: nowrap;
}
.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}
.nav-link {
    color: var(--white);
    text-decoration: none;
}
.nav-link:hover{
    color: var(--light-blue1);
}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--gradient-top);
    color: var(--white);
    padding: var(--spacer);
    flex: 1;
}
.footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
    max-width: 1200px;
    gap: 4em;
}
.footer-columns {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
#main-footer-column {
    max-width: 450px;
}
.social-links {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    align-items: center;
    justify-content: flex-start;
}
.social-link {
    color: var(--white);
    text-decoration: none;
    font-size: var(--h1-size);
}
.social-link:hover {
    color: var(--light-blue1);
}
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.footer-links {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.footer-column:nth-of-type(1) .footer-links {
    gap: 1em;
}
.footer-links .primary-button {
    width: fit-content;
}
.footer-link {
    width: fit-content;
}
footer .dropdown-item {
    font-weight: normal;
    text-decoration: underline;
}
.footer-column-title {
    font-weight: bold;
}
.subfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    width: 90%;
    max-width: 1200px;
    padding-top: 4em;
    color: var(--grey);
}
.subfooter p:nth-of-type(2) {
    white-space: nowrap;
}

/* MEDIA */

@media (max-width: 950px) {
    .footer-column:nth-of-type(1) .footer-links {
        flex-direction: row;
        gap: 2em;
    }
    .footer-columns {
        flex-wrap: wrap;
    }
}
@media (max-width: 880px) {
    .section-content img {
        width: 400px;
    }
    .contact img {
        width: 100%;
}
@media (max-width: 850px) {
    .footer-content {
        flex-wrap: wrap;
        gap: 1em;
    }
    .footer-column:nth-of-type(1) .footer-links {
        flex-direction: column;
        gap: 1em;
        flex-wrap: nowrap;
    }
    #main-footer-column {
        max-width: 50%;
    }
}
@media (max-width: 780px) {
    nav .site-logo span {
        display: none;
    }
    .nav-content {
        gap: 2em;
    }
    .section-content img {
        width: 350px;
    }
    .contact img {
        width: 100%;
}
@media (max-width: 670px) {
    .section-content {
        flex-wrap: wrap;
    }
    .section-content-left, .section-content img {
        width: 100%;
    }
}
@media (max-width:560px) {
    #main-footer-column {
        max-width: 100%;
    }
    .footer-columns .footer-column .footer-links {
        flex-direction: row;
        gap: 1em;
        flex-wrap: wrap;
    }
    .footer-columns .footer-column {
        gap: .5em;
    }
}
@media (max-width: 470px) {
    .nav-links {
        font-size: var(--tiny-size);
    }
}