#header h1 {
    font-size: calc(var(--font-size) * 2.4);
}
#past {
    text-align: center;
}
#logos {
    padding: var(--spacer);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
#logos figcaption {
    font-size: calc(var(--font-size) * .82);
    font-weight: 900;
}
#logos img {
    overflow: hidden;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    padding: .3em 1em .3em 1em;
    width: 450px;
}

@media (max-width:600px) {
    #logos img {
        width: 300px;
    }
}