section:first-of-type, section:nth-of-type(2n+1) {
    background-color: var(--light-grey);
}
section:nth-of-type(2n){
    background-color: var(--white);
}

#hero-section {
    background: var(--transparent-gradient), url('/imgs/home/hero.webp') no-repeat center center/cover;
    color: var(--white);
    padding: 10em 0;
}
#hero-section .section-content {
    gap: 2em;
}
#hero-section .primary-button {
    font-size: var(--h3-size);
    width: fit-content;
}

#about-section-1 p {
    max-width: 40%;
}
#about-section-1 {
    background: var(--transparent-gradient-black), url('/imgs/home/about.webp') no-repeat center center/cover;
    color: var(--white);
}
#about-section-1 .section-row {
    justify-content: flex-start;
    gap: 2em;
    margin-top: 2em;
}

#about-section-2 .section-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}
#about-section-2 fieldset {
    padding: .3em 1em 1em 1em;
    border: 2px solid;
    border-radius: 10px;
}
fieldset#mission-zero {
    border-color: var(--pink);
}
fieldset#mission-space-lab {
    border-color: var(--green);
}
fieldset#astropi-challenge {
    border-color: var(--light-blue2);
}
fieldset#mission-zero strong {
    color: var(--pink);
}
fieldset#mission-space-lab strong {
    color: var(--green);
}
fieldset#astropi-challenge strong {
    color: var(--light-blue2);
}
#about-section-2 legend img {
    width: 3em;
}
fieldset#mission-zero legend {
    color: var(--pink);
}

#accomplishments-section .section-row {
    justify-content: space-evenly;
}
.accomplishment-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.accomplishment-number {
    font-weight: bold;
    font-size: var(--mega-size);
    color: var(--light-blue2);
}

#partners-section {
    padding: 3em 0;
}
#partners-section .scrolling-row {
    margin: 2em 0 1em 0;
    gap: 2em;
}
#partners-section .section-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
}
.sponsor-rolling img {
    height: 25px;
    width: auto;
    margin-bottom: 1em;
}
.partners-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.organiser-container .section-row {
    margin: 1.3em 0 2em 0;
    justify-content: flex-start;
    gap: 2em;
}
.organiser-container img {
    height: 40px;
    width: auto;
}

/* MEDIA */

@media (max-width:850px) {
    #call-to-action-section .section-content-left {
        width: 100%;
    }
    #call-to-action-section .section-content {
        flex-direction: column;
        gap: 4em;
    }
    #call-to-action-section .section-row {
        width: 100%;
        justify-content: space-evenly;
    }
}
@media (max-width:600px) {
    #about-section-2 .section-row {
        grid-template-columns: 1fr;
    }
    #about-section-1 p {
        max-width: 100%;
    }
}
@media (max-width:500px) {
    .scrolling-row {
        gap: 2em;
    }
    .scrolling-row img {
        height: 20px;
    }
    #about-section .section-row {
        flex-direction: column;
    }
    #about-section p {
        width: 100%;
    }
    #accomplishments-section .section-row {
        gap: 2em;
        flex-wrap: wrap;
    }
    #partners-section .section-content {
        grid-template-columns: 1fr;
    }
}