#hero-section {
    background: var(--transparent-gradient), url('/imgs/home/hero.webp') no-repeat center center/cover;
    color: var(--white);
    padding: 10em 0;
}
#hero-section .section-content {
    gap: 2em;
}
#hero-section .primary-button {
    font-size: var(--h3-size);
    width: fit-content;
}

#about-section p {
    width: 30%;
}

#us-section .section-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

#us-section .section-row {
    margin: 1.3em 0 2em 0;
    justify-content: flex-start;
    gap: 2em;
}
#us-section .section-row img {
    height: 40px;
    width: auto;
}

#accomplishments-section .section-row {
    justify-content: space-evenly;
}
.accomplishment-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.accomplishment-number {
    font-weight: bold;
    font-size: var(--mega-size);
    color: var(--light-blue2);
}

#partners-section .scrolling-row {
    margin: 1.2em 0 2.5em 0;
}
.sponsor-rolling img {
    height: 45px;
    width: auto;
    margin-bottom: 1em;
}

#call-to-action-section {
    background: var(--transparent-gradient), url('/imgs/home/cta.jpg') no-repeat center top/cover;
    color: var(--white);
    padding: 6em 0;
}
#call-to-action-section .section-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#call-to-action-section .section-row {
    justify-content: flex-end;
    flex-wrap: wrap;
}
#call-to-action-section .section-content-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50%;
}
.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-weight: bold;
    white-space: nowrap;
}
.location .main-button {
    font-size: var(--h3-size);
}
.location.alert p {
    color: var(--pink);
}

/* MEDIA */

@media (max-width:850px) {
    #call-to-action-section .section-content-left {
        width: 100%;
    }
    #call-to-action-section .section-content {
        flex-direction: column;
        gap: 4em;
    }
    #call-to-action-section .section-row {
        width: 100%;
        justify-content: space-evenly;
    }
}
@media (max-width:500px) {
    .scrolling-row {
        gap: 2em;
    }
    .scrolling-row img {
        height: 20px;
    }
    #about-section .section-row {
        flex-direction: column;
    }
    #about-section p {
        width: 100%;
    }
    #accomplishments-section .section-row {
        gap: 2em;
        flex-wrap: wrap;
    }
}