.section-content {
    width: 90%;
    max-width: 600px;
}
#content p {
    padding-bottom: 1em;
}
#content h5 {
    margin-top: 3em;
}
#content h5:first-of-type {
    margin-top: 0;
}
ul, ol {
    list-style-position: inside;
}
ol li {
    width: fit-content;
    margin-bottom: 1em;

}
.contact {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}
.contact img {
    width: 200px;
}
blockquote {
    background-color: var(--light-blue3);
    padding: 1em;
    color: var(--light-blue2);
    font-weight: bold;
    border-left: solid 4px var(--light-blue2);
    border-radius: 4px;
}

@media (max-width: 440px) {
    .contact img {
        width: 150px;
    }
}