{{define "styles"}}<link rel="stylesheet" href="/css/home.css">{{end}}

{{define "main"}}
    <section id="hero-section">
        <div class="section-content">
            <div class="mega-text">AstroPi Hackathon</div>
            <p>
                Baví tě vesmír, věda a nebojíš se zkusit i programování?<br>
                Tak začni svoji cestu ke hvězdám právě s námi!
            </p>
            <a class="primary-button" href="/aktualni-rocnik">AKTUÁLNÍ ROČNÍK</a>
        </div>
    </section>
    <section id="partners-section">
        <div class="section-content">
            <div class="organiser-container">
                <h5>Organizují</h5>
                <div class="section-row">
                    <a href="https://www.cmgp.cz/"><img src="/imgs/organizers/cmgp.png"></a>
                    <a href="https://www.planetum.cz/"><img src="/imgs/organizers/planetum.png"></a>
                    <a href="https://technecium.org/"><img src="/imgs/organizers/technecium.png"></a>
                </div>
                <a class="secondary-button" href="/kontakt#heads">Náš tým</a>
            </div>
            <div class="partners-container">
                <h5>Podpořili nás</h5>
                <div class="scrolling-row">
                    <a class="sponsor-rolling" href="https://www.mattoni1873.cz/"><img src="/imgs/partners/mattoni.png"></a>
                    <a class="sponsor-rolling" href="https://www.redhat.com/"><img src="/imgs/partners/redhat.svg"></a>
                    <a class="sponsor-rolling" href="https://vesmir.cz/cz/"><img src="/imgs/partners/vesmir.png"></a>
                    <a class="sponsor-rolling" href="https://www.honeywell.com/cz/en"><img src="/imgs/partners/honeywell.png"></a>
                    <a class="sponsor-rolling" href="https://www.spacemanic.com/"><img src="/imgs/partners/spacemanic.png"></a>
                    <a class="sponsor-rolling" href="https://astropi-hackathon.org/images/partners/ctm.png"><img src="/imgs/partners/ctm.png"></a>
                    <a class="sponsor-rolling" href="https://www.sab.srl/"><img src="/imgs/partners/sab.png"></a>
                    <a class="sponsor-rolling" href="https://www.hvezdarna.cz/"><img src="/imgs/partners/hvezdarna.png"></a>
                    <a class="sponsor-rolling" href="https://vida.cz/"><img src="/imgs/partners/vida.png"></a>
                    <a class="sponsor-rolling" href="https://psi.cz/"><img src="/imgs/partners/psi.png"></a>
                    <a class="sponsor-rolling" href="https://www.eserocz.cz/"><img src="/imgs/partners/esero.png"></a>
                    <a class="sponsor-rolling" href="https://www.jmk.cz/"><img src="/imgs/partners/jmk.png"></a>
                    <a class="sponsor-rolling" href="https://www.brno-stred.cz/"><img src="/imgs/partners/mcbs.png"></a>
                    <a class="sponsor-rolling" href="https://www.ohb-czech.cz/"><img src="/imgs/partners/ohb.png"></a>
                    <a class="sponsor-rolling" href="https://www.kentico.com/"><img src="/imgs/partners/kentico.png"></a>
                    <a class="sponsor-rolling" href="https://www.jcmm.cz/"><img src="/imgs/partners/jcmm.png"></a>
                    <a class="sponsor-rolling" href="https://science-technology.club/"><img src="/imgs/partners/s-and-t-club.png"></a>
                    <a class="sponsor-rolling" href="https://kosmonautix.cz/"><img src="/imgs/partners/kosmonautix.png"></a>
                    <a class="sponsor-rolling" href="https://www.asu.cas.cz/"><img src="/imgs/partners/asu.png"></a>
                    <a class="sponsor-rolling" href="https://www.dolnivitkovice.cz/"><img src="/imgs/partners/dov.png"></a>
                    <a class="sponsor-rolling" href="https://planetko.cz/cs/"><img src="/imgs/partners/planetarium.png"></a>
                    <a class="sponsor-rolling" href="https://www.tietoevry.com/cz/"><img src="/imgs/partners/Tiet.png"></a>
                    <a class="sponsor-rolling" href="https://www.ostrava.cz/cs"><img src="/imgs/partners/ostrava.png"></a>
                    <a class="sponsor-rolling" href="https://www.spse.cz/"><img src="/imgs/partners/spsevos.png"></a>
                    <a class="sponsor-rolling" href="https://www.gymozart.cz/"><img src="/imgs/partners/gymozart.jpg"></a>
                    <a class="sponsor-rolling" href="https://www.czechspaceportal.cz/czech-space-team/"><img src="/imgs/partners/cst.png"></a>
                </div>
                <a class="primary-button" href="/zapojte-se/spoluprace">Podpořte nás</a>
            </div>
        </div>
    </section>
    <section id="about-section-1">
        <div class="section-content">
            <h5>O hackathonu</h5>
            <h1>Co je AstroPi Hackathon?</h1>
            <p>
                <strong>AstroPi Hackathon</strong> je podpůrnou akcí mezinárodní týmové soutěže <strong>AstroPi Challenge</strong>. Účelem Hackathonu je pomoci studentům připravit se na soutěž tak, aby ji mohli úspěšně dokončit.
            </p>
            <div class="section-row">
                <a href="/zapojte-se/organizator" class="primary-button">Přidejte se k nám</a>
                <a href="/zapojte-se/mentor" class="primary-button">Staňte se mentorem</a>
            </div>
        </div>
    </section>
    <section id="about-section-2">
        <div class="section-content">
            <h5>O soutěži</h5>
            <h1>Co je AstroPi Challenge?</h1>
            <div class="section-row">
                <fieldset id="astropi-challenge">
                    <legend><img src="/imgs/base/logo.png"></legend>
                    <p>
                        <strong>AstroPi Challenge</strong> je mezinárodní soutěž pro týmy o 2 až 6 členech, kterou pořádá Evropská kosmická agentura ESA ve spolupráci s Raspberry Pi Foundation. Soutěž se skládá ze dvou misí: Mission Zero a Mission Space Lab.
                    </p>
                </fieldset>
                <fieldset id="mission-zero">
                    <legend><img src="/imgs/base/zero.png"></legend>
                    <p>
                        <strong>Mission Zero</strong> je rychlejší a jednoduší. Úkolem je naprogramovat v pythonu displej počítače na palubě ISS a poslat pozdrav nebo obrázek. Na hackathonu tuto misi plní každý tým. Nikdy jsi neviděl python? Nevadí, poradíme ti!
                    </p>
                </fieldset>
                <fieldset id="mission-space-lab">
                    <legend><img src="/imgs/base/space-lab.png"></legend>
                    <p>
                        <strong>Mission Space Lab</strong> je náročnější. Úkolem je pomocí dat z ISS splnit výzkumný úkol, který zadává přímo ESA. Na hackathonu tuto misi nemusí plnit všichni, cílem není ani nutně napsat finální kód, ale spíš přijít s dobrým nápadem.
                    </p>
                </fieldset>
            </div>
            <a class="secondary-button" href="/astropi">Více o AstroPi</a>
        </div>
    </section>
    <section id="accomplishments-section">
        <div class="section-content">
            <h5>Dokázali jsme</h5>
            <h1>Minulý ročník v číslech</h1>
            <div class="section-row">
                <div class="accomplishment-item">
                    <div class="accomplishment-number">120+</div>
                    <div class="accomplishment-description">účastníků</div>
                </div>
                <div class="accomplishment-item">
                    <div class="accomplishment-number">35+</div>
                    <div class="accomplishment-description">týmů</div>
                </div>
                <!-- <div class="accomplishment-item">
                    <div class="accomplishment-number">40</div>
                    <div class="accomplishment-description">projektů</div>
                </div> -->
                <div class="accomplishment-item">
                    <div class="accomplishment-number">4</div>
                    <div class="accomplishment-description">města</div>
                </div>
            </div>
        </div>
    </section>
   {{partial "cta.html"}}
{{end}}