<!DOCTYPE html>
<html lang="cs">
    <head>
        {{partial "head.html" .}}
        {{partial "style-base.html" .}}
        {{partial "style-list.html" .}}
        <title>{{.Title}}</title>
    </head>
    <body>
        {{partial "header.html" .}}
        <main>
            {{.Content}}
            <div class="news">
                {{range .Pages}}
                    <div class="news-container">
                    <p class="news-title"><strong>{{.Title}}</strong></p>
                    <p class="news-date"><em>{{.Date | time.Format "02/01/2006"}}</em></p>
                    <div class="news-content">
                        {{.Content}}
                    </div>
                    </div>
                {{end}}
            </div>
        </main>
        {{partial "footer.html" .}}
    </body>
</html>