{{define "styles"}}<link rel="stylesheet" type="text/css" href="/css/present.css">{{end}}

{{define "main"}}
    <section id="call-to-action-section">
        <div class="section-content">
            <div class="section-content-left">
                <div>
                    <h5>Je to skoro tady</h5>
                    <div class="mega-text">SAVE THE DATE!</div>
                </div>
            </div>
            <div class="section-row">
                <div class="location alert">
                    <h2>Brno</h2>
                    <p>13. &ndash; 14. 12. 2024</p>
                </div>
                <div class="location">
                    <h2>Praha</h2>
                    <p>Bude upřesněno!</p>
                </div>
                <div class="location">
                    <h2>Ostrava</h2>
                    <p>Bude upřesněno!</p>
                </div>
                <div class="location">
                    <h2>Pardubice</h2>
                    <p>Bude upřesněno!</p>
                </div>
                <div class="location">
                    <h2>Plzeň</h2>
                    <p>Bude upřesněno!</p>
                </div>
            </div>
            <!-- <div class="section-content-left">
                <div>
                    <h5>Poslední krok</h5>
                    <div class="mega-text">Registruj se!</div>
                </div>
                <p>Zaujalo tě to? Pokud ano, zbývá pouze zaregistrovat tvůj tým!</p>
                <a class="more-link" href="/aktualni-rocnik">Více k aktuálnímu ročníku <i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="section-row">
                <div class="location">
                    <a class="primary-button" href="#">Brno</a>
                    <p>13. &ndash; 14. 12. 2024</p>
                </div>
                <div class="location">
                    <a class="primary-button" href="#">Praha</a>
                    <p>Datum</p>
                </div>
                <div class="location">
                    <a class="primary-button" href="#">Ostrava</a>
                    <p>Datum</p>
                </div>
                <div class="location">
                    <a class="primary-button" href="#">Pardubice</a>
                    <p>Datum</p>
                </div>
                <div class="location">
                    <a class="primary-button" href="#">Plzeň</a>
                    <p>Datum</p>
                </div>
            </div> -->
        </div>
    </section>
{{end}}