{{define "styles"}}
    <link rel="stylesheet" type="text/css" href="/css/present.css">
    <link rel="stylesheet" type="text/css" href="/css/past.css">
{{end}}

{{define "main"}}
    {{partial "header.html" .}}
    <section id="info">
        <div class="section-content">
            <div class="info-container">
                <i class="fa-solid fa-user"></i>
                <p>{{.Params.competitors}}</p>
            </div>
            <div class="info-container">
                <i class="fa-regular fa-calendar-days"></i>
                <p>{{.Params.dateTime}}</p>
            </div>
            <div class="info-container">
                <i class="fa-solid fa-location-dot"></i>
                <p>{{.Params.location}}</p>
            </div>
            <div class="info-container">
                <i class="fa-solid fa-house"></i>
                <p>{{.Params.housing}}</p>
            </div>
        </div>
    </section>
    <section id="registration">
        <div class="section-content">
            <a {{with .Params.registration}}href="{{.}}"{{end}} class="primary-button {{if .Params.inactive}}inactive{{end}}">Registrace</a>
        </div>
    </section>
    <section id="content">
        {{if .Params.info}}
            <div class="section-content" style="flex-direction: column; justify-content: flex-start; gap:0">
                {{.Content}}
            </div>
        {{else}}
            <div class="section-content">
                <div class="section-content-left">{{.Content}}</div>
                <img src="{{.Params.contentPhoto}}">
            </div>
        {{end}}
    </section>
    {{if .Params.info}}
        <section id="registration">
            <div class="section-content">
                <a {{with .Params.presentation}}href="{{.}}"{{end}} class="primary-button">Odevzdání<br>prezentací</a>
            </div>
        </section>
    {{end}}
    <section id="logos">
        <div class="section-content">
            <div class="logo-container" id="organizers">
                <h5>Organizátoři</h5>
                <div class="logos-container">
                    {{range .Params.organizers}}
                        <img src="/imgs/organizers/{{.}}">
                    {{end}}
                </div>
            </div>
            {{if .Params.mainPartners}}
                <div class="logo-container" id="main-partners">
                    <h5>Hlavní partneři</h5>
                    <div class="logos-container">
                        {{range .Params.mainPartners}}
                            <img src="/imgs/partners/{{.}}">
                        {{end}}
                    </div>
                </div>
            {{end}}
            <div class="logo-container" id="partners">
                <h5>Partneři</h5>
                <div class="logos-container">
                    {{range .Params.partners}}
                        <img src="/imgs/partners/{{.}}">
                    {{end}}
                </div>
            </div>
        </div>
    </section>
{{end}}