<footer>
    <div class="footer-container">
        <div class="footer-title">
            <span>AstroPi Hackathon</span>
        </div>
        <div class="footer-content">
            <p>AstroPi Hackathon je soutěž organizovaná k mezinárodní soutěži AstroPi Challenge, kterou každý rok vyhlašuje <a href="https://www.esa.int/" target="_blank">Evropská kosmická agentura</a>.</p>
            <p>Soutěž organizují v Brně skupina studentů <a href="https://www.cmgp.cz/" target="_blank">Cyrilometodějského gymnázia</a> a v Praze pracovníci <a href="https://www.planetum.cz/" target="_blank">Planeta</a>.</p>
            <ul class="footer-links">
                <li>
                    <a href="https://www.instagram.com/astropi_hackathon_cz/" target="_blank">#astropi_hackathon_cz</a>
                </li>
                <li>
                    <a href="mailto:hackathon@cmgp.cz" target="_blank">hackathon@cmgp.cz</a>
                </li>
                <li>
                    <a href="mailto:spratek@planetum.cz" target="_blank">spratek@planetum.cz</a>
                </li>
            </ul>
        </div>
    </div>
</footer>