<div class="contact-container">
    <div class="contact-picture">
        <img src="{{.Get "pic"}}">
    </div>
    <div class="contact-info">
        <ul>
            <li class="contact-info-name">{{.Get "name"}}</li>
            {{with .Get "position"}}
            <li class="contact-info-position">{{.}}</li>
            {{end}}
            {{with .Get "mail"}}
            <li><a href="mailto:{{.}}">{{.}}</a></li>
            {{end}}
            {{with .Get "tel"}}
            <li><a href="tel:{{.}}">{{.}}</a></li>
            {{end}}
            {{with .Get "site"}}
            <li><a href="https://{{.}}/" target="_blank">{{.}}</a></li>
            {{end}}
        </ul>
    </div>
</div>