<div class="location-container">
    <div class="location">
        <a class="place" href="/aktualni-rocnik/praha">Praha</a>
        <p class="location-date"><strong>17. &mdash; 18. 11. 2023</strong></p>
    </div>
    <div class="location">
        <a class="place" href="/aktualni-rocnik/brno">Brno</a>
        <p class="location-date"><strong>24. &mdash; 25. 11. 2023</strong></p>
    </div>
    <div class="location">
        <a class="place" href="/aktualni-rocnik/ostrava">Ostrava</a>
        <p class="location-date"><strong>2. &mdash; 3. 12. 2023</strong></p>
    </div>
    <div class="location">
        <a class="place" href="/aktualni-rocnik/pardubice">Pardubice</a>
        <p class="location-date"><strong>15. &mdash; 16. 12. 2023</strong></p>
    </div>
</div>
